.accordion {
     cursor: pointer;
     transition: 0.4s;
}

.active, .accordion:hover {
     background-color: rgba(115, 143, 170, 0.25);
}

.accordion-panel {
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
}

.accordion:after {
     content: '\02795';
     float: right;
}

.active:after {
     content: "\2796";
}

.paragraph-panel {
     color: rgba(115, 143, 170);
}