.connect {
     display: flex;
     flex-flow: row nowrap;
     align-items: top;
     justify-content: space-evenly;
     margin: 0 1.5% 1.5% 1.5%;
}

.connect__bottom {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
}

.connect__office__photo {
     margin: 0 1%;
     max-width: 25%;
}

.connect__panel-left {
     color: rgba(115, 143, 170, 1);
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-between;
     margin: 0 0 12% 0;   
}

.connect__panel-left__ADA {
     font-size: smaller;
     font-style: italic;
     margin: -5% 0 2% 0;
}

.connect__panel-left__address {
     padding: 0 0 2.5% 0;
}

a.connect__panel-left__email:link,
a.connect__panel-left__email:visited {
     color: rgba(115, 143, 170, 1);
}

.connect__panel-left__h2 {
     color: rgba(115, 143, 170, 1);
     font-family: Caprasimo;
     font-weight: 400;
     text-decoration: underline;
}

.connect__map {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     margin: 1% 0 0 0;
}

.connect__panel-left__IGlogo-small {
     height: 2.5rem;
     padding: 2.5% 0 0 0;
}

/* .connect__panel-right {
     
} */