.footer {
     background-color: rgba(193, 195, 171, 1);
     bottom: 0;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     margin: 0;
     overflow: hidden;
     position: fixed;
     width: 100%;
}

ul.footer__group-middle-list__links {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

.footer__group_left {
     display: flex;
     flex-flow: column nowrap;
}


.footer__group-middle {
     color: rgb(255, 255, 255);
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     padding: 0.125% 0;
     position: relative;
     text-align: center;
}

.footer__group-middle-list {
     padding: 1% 0;
}

.footer__group-middle-list__links {
     display: flex;
     flex-flow: row nowrap;
}

.footer__group-right {
     display: flex;
     flex-flow: row nowrap;
}

.footer__IGlogo-small {
     max-width: 10%;
}

.footer__link {
     color: rgb(255, 255, 255);
}

.footer__list_item-separator {
     padding: 0 5px;
}

.footer__list_item-right {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
}

/* .footer__logo-small {
     max-width: 25%;
} */

.footer__spacer {
     height: 2.5rem;
}