.home__greeting {
     background-image: url("../../img/GreetingBG.png");
     background-position: center;
     background-size: 100%;
     display: flex;
     flex-flow: column nowrap;
}

.home__greeting-words {
     color: rgb(255, 255, 255);
     /* color: rgb(179, 117, 115); */
     font-family: Montserrat;
     padding: 15% 0;
     text-align: center;
     text-shadow: 3px 3px 3px rgba(179, 117, 115, 1);
}

.home__greeting-name {
     font-size: 450%;
}

.home__greeting-welcome {
     font-family: Montserrat;
     font-size: 350%;
}

.home__page {
     background-color: rgba(179, 117, 115, 1);
     margin: 0;
     padding-bottom: 0.25%;
}

.home__services-h2 {
     color: rgb(115, 143, 170);
     font-family: Caprasimo;
     font-size: 2em;
     font-weight: 100;
     margin: 0;
     text-align: center;
     text-decoration: underline;
}

.home__services-list {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     margin: 1% 0 0 0;
}