.policies__fees {
     margin: 0 1.5% 1.5% 1.5%;
}

.policies__fees-h2 {
     font-family: Caprasimo;
     font-weight: 400;
     margin: 0 0 0.5% 0;
}

.policies__fees-body {
     
}

.policies__fees-paragraph {
     padding: 0 0 0.25% 0;
     text-indent: 1%;
}