.policies {
     margin: 0 1.5% 1.5% 1.5%;
}

.policies__h2 {
     font-family: Caprasimo;
     font-weight: 400;
     margin: 0 0 0.5% 0;
}

.policies__body {
     
}

.policies__paragraph {
     padding: 0 0 0.25% 0;
     text-indent: 1%;
}

.policies__dropdown {

}

.policies__details {
     background-color: rgba(255, 255, 255, 0.15);
     margin: 0 0 0 1.5%;
     max-height: 0;
     overflow: hidden;
     padding: 0 0.5%;
     text-indent: 1%;
     transition: max-height 0.2s ease-out;
}

.policies__header:after {
     content: '\1F783';
     float: right;
     font-style: normal;
}

.policies__emphasis {
     font-weight: 900;
     margin: 10% 0;
}

.policies__emphasis-underline {
     font-weight: 600;
     text-decoration: underline;
     margin-bottom: 2px;
}

a:link,
a:visited {
     color: rgb(115, 143, 170);
}