.privacy-policy {
     color: rgb(115, 143, 170);
     margin: 0 1.5% 1.5% 1.5%;
}

.privacy-policy__body {
     text-indent: 1%;
}

.privacy-policy__emphasis {
     font-weight: 600;
     margin: 10px 0 2px 0;
}

.privacy-policy__emphasis-underline {
     font-weight: 600;
     text-decoration: underline;
     margin-bottom: 2px;
}

.privacy-policy__h2 {
     color: rgb(115, 143, 170);
     font-family: Caprasimo;
     font-weight: 400;
     margin: 0 0 0.5% 0;
     text-decoration: underline;
}

.privacy-policy__link {
     padding: 1% 0;
}

ol.privacy-policy__list {
     padding: 0;
     margin: 0.25% 18px;
}

ul.privacy-policy__list {
     list-style-type: none;
     padding: 0;
     margin: 0.25% 0;
}

.privacy-policy__list-item {
     margin: 2px 0 0 3px;
}
a.privacy-policy__link:link,
a.privacy-policy__link:visited {
     color: rgb(115, 143, 170);
}