.quotes {
     display: flex;
     flex-flow: column wrap;
     color: rgb(255, 255, 255);
}

.quote {
     background-position: center;
     background-size: cover;
     display: flex;
     justify-content: center;
     padding: 0 1%;
}
.quote__01 {
     background-image: url(../../img/NatureImgs/IMG_0604.JPG);
}

.quote__02 {
     background-image: url(../../img/NatureImgs/IMG_1314.JPG);
}

.quote__03 {
     background-image: url(../../img/NatureImgs/IMG_1314.JPG);
}

.quote__04 {
     background-image: url(../../img/NatureImgs/IMG_9404.JPG);
}

.quote__05 {
     background-image: url(../../img/NatureImgs/IMG_9402.JPG);
}

.quote__06 {
     background-image: url(../../img/NatureImgs/IMG_0239.JPG);
}

.quote__attribute {
     font-size: 150%;
     font-weight: 600;
     margin: 0;
     text-align: right;
     text-shadow: 2px 3px rgba(115, 143, 170, 0.50);

}

.quote__book-title {
     font-style: italic;
}

.quote__details {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     margin: 1.5%;
}

.quote__quote {
     color: rgb(255, 255, 255);
     font-family: Borel;
     font-weight: 800;
     font-size: 225%;
     text-shadow: 2px 3px rgba(115, 143, 170, 0.50);
}

.quote__services-01 {
     background-image: url(../../img/NatureImgs/IMG_1312.JPG);
     background-position: bottom;

}

.quote__services-02 {
     background-image: url(../../img/NatureImgs/IMG_9358.JPG);
}

.quote__services-03 {
     background-image: url(../../img/NatureImgs/IMG_9394.JPG);
}

.quote__services-04 {
     background-image: url(../../img/NatureImgs/IMG_1057.JPG);
     background-position: bottom;
}