.services {
     display: flex;
     flex-flow: column nowrap;
     padding: 0% 1.50% 1.5% 1.50%;
}

.services__details {
     align-content: space-around;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-around;
     margin: 0 7% 1.5% 7%;
     overflow: hidden;
}

.services__details-half {
     display: flex;
     flex-flow: column nowrap;
     margin: 0 auto  1.5% auto;
     width: 85%;
}

.services__full {
     display: flex;
     flex-flow: column;
     font-size: 110%;
     width: 100%;
}

.services__full-paragraph {
     display: flex;
     text-align: justify;
     text-indent: 5%;
}

.services__h2 {
     color: rgb(115, 143, 170);
     font-family: Caprasimo;
     font-size: 2em;
     font-weight: 100;
     margin: 0 0 1% 0;
     text-align: center;
     text-decoration: underline;
}

.services__h2-half {
     color: rgb(115, 143, 170);
     font-size: 1.5em;
     font-weight: 100;
     margin: 1.50% 0;
     text-decoration: underline;
}

.services__half {
     display: flex;
     flex-flow: column nowrap;
     margin: 0.5% 0;
     width: 50%;
}

.services__half-paragraph {
     color: rgb(115, 143, 170);
     display: block;
     width: 75%;
}

.services__photo-full {
     display: flex;
     margin: 0 0 0 5%;
}

.services__photo-half {
     display: block;
     width: 75%;
}

.services__pic {
     text-align: left;
     display: flex;
     flex-flow: column nowrap;
     overflow: hidden;
     width: 55%;
}