.services__individuals {
     color: rgb(115, 143, 170);
     margin: 0 1.5% 1.5% 1.5%;
}

.services__individuals-body {
     margin: 0.50%;
}

.services__individuals-h2 {
     font-family: Caprasimo;
     font-size: 1.5em;
     font-weight: 100;
     /* margin: 2% 0; */
     text-decoration: underline;
}

.services__individuals-accordion {
     background-color: rgba(255, 255, 255, 0.45);
     color: rgb(115, 143, 170);
     cursor: pointer;
     padding: 0.50%;
     width: 100%;
     border: none;
     text-align: left;
     border: none;
     outline: none;
     transition: 0.4s;
}

.active, .services__individuals-accordion:hover {
     background-color: rgba(115, 143, 170, 0.25);
}

.services__individuals-accordion-panel {
     padding: 0 1.5%;
     background-color: rgba(255, 255, 255, 0.45);
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
}

.services__individuals-accordion:after {
     color: rgb(115, 143, 170);
     content: '\02795';
     float: right;
     font-size: 90%;
}

.active:after {
     content: "\2796";
}

.services__individuals-paragraph-panel {
     color: rgba(115, 143, 170);
}